.content {
    margin-left: 15px;
    opacity: 0;
    font-size: 20px;
    margin-top: 35%;
    font-family: shzc;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 90%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
  }

  

  .hoverText .content:hover {
    opacity: 1;
  }
  .hoverText .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  .hoverText .content:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
  }